<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
      <div class="posts">
      <% include partials/top %>
      <!-- main start -->

      <!-- main end -->
    </div><!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
